.list-item {
    margin-top: 10px !important;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
  }