.list-item {
    margin-top: 10px !important;
}

/* Bottom right text */
.bottom-left {
  position: absolute;
  bottom: -19px;
  left: 10px;
}

.bottom-right {
  position: absolute;
  bottom: -19px;
  right: 10px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
}

.image-adult {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
}
